@font-face {
    -fx-src: url("../RobotoMono700.ttf");
}

/* Main View */

#contentVBox{
	-fx-font-size: 12.0px;
}

#contentVBox > .row .button{
	-fx-padding: 0px 5px;
	-fx-font-size: 12px;	
}

.row{
	-fx-padding: 3.0px 0.0px;
}

.play-bar,
.loop-row,
.solo-mute-delete{
	-fx-spacing: 5.0px;
}

#removeButton{
	-fx-background-size: 15.0px 15.0px;
	-fx-pref-width: 15.0px;
	-fx-min-width: 15.0px;
	-fx-max-width: 15.0px;
	-fx-pref-height: 15.0px;
	-fx-min-height: 15.0px;
	-fx-max-height: 15.0px;
	-fx-background-insets: 0px;
}

#removeButton:pressed{
	-fx-effect: dropshadow(three-pass-box, #FF837D, 10, 0, 0, 0);
}

.project-buttons{
	-fx-spacing: 5.0px;
}

.prepend{
	-fx-pref-width: 100.0px;
	-fx-max-width: 100.0px;
	-fx-min-width: 100.0px;
}

.row .text-field{
	-fx-max-height: 12.0px;
	-fx-padding: 0.0px;
}

.solo-mute-delete{
	-fx-padding: 0.0px 0.0px 0.0px 10.0px;
}

#record{
	-fx-pref-width: 15.0px;
	-fx-pref-height: 15.0px;
	-fx-min-width: 15.0px;
	-fx-max-width: 15.0px;
	-fx-min-height: 15.0px;
	-fx-max-height: 15.0px;
}

#recordButton{
	-fx-background-radius: 50.0%;
	-fx-background-size: 14.0px 14.0px;
	-fx-pref-width: 30.0px;
	-fx-pref-height: 15.0px;
	-fx-min-width: 30.0px;
	-fx-max-width: 30.0px;
	-fx-min-height: 15.0px;
	-fx-max-height: 15.0px;
	-fx-background-insets: 0.0px 7.5px;
}

#chooseFileButton{
	-fx-background-size: 15.0px 15.0px;
	-fx-pref-width: 15.0px;
	-fx-pref-height: 15.0px;
	-fx-min-width: 15.0px;
	-fx-max-width: 15.0px;
	-fx-min-height: 15.0px;
	-fx-max-height: 15.0px;
}

.rect-button{
	-fx-pref-width: 15.0px;
	-fx-pref-height: 15.0px;
	-fx-min-width: 15.0px;
	-fx-max-width: 15.0px;
	-fx-min-height: 15.0px;
	-fx-max-height: 15.0px;
	-fx-font-size: 6.0px;
}

.space{
	-fx-pref-height: 15.0px;
	-fx-min-height: 15.0px;
	-fx-max-height: 15.0px;
	-fx-min-width: 25.0px;
	-fx-max-width: 25.0px;
	-fx-pref-width: 25.0px;
	-fx-background-insets: 0.0px 10.0px 0.0px 0.0px;
}

.pb-spacer{
	-fx-min-width: 65.0px;
	-fx-max-width: 65.0px;
	-fx-pref-width: 65.0px;
}

#playButton{
	-fx-background-size: 15.0px 15.0px;
	-fx-pref-width: 30.0px;
	-fx-min-width: 30.0px;
	-fx-max-width: 30.0px;
	-fx-pref-height: 15.0px;
	-fx-min-height: 15.0px;
	-fx-max-height: 15.0px;
	-fx-background-insets: 0.0px 9.0px;
}

#volumeSlider{
	-fx-pref-width: 10.0px;
}

.circular_slider {
    -fx-max-height: 15.0px;
    -fx-min-width: 20.0px;
}
.circular_slider .knob {
    -fx-rotate: 90.0;
    -fx-pref-width: 15.0px;
    -fx-pref-height: 15.0px;
    -fx-max-height: 15.0px;
}