@font-face {
    -fx-src: url("../RobotoMono700.ttf");
}

/* Main View */

.root{
	-fx-background-color: #222;
	-fx-background-image: url(../images/hintergrund.jpg);
	-fx-background-size: 500.0px 700.0px;
	-fx-background-repeat: repeat;
	-fx-padding: 40.0px;
	-fx-font-family: 'Roboto Mono';
	-fx-font-weight: bold;
	-fx-align: center;
}

#contentVBox{
	-fx-font-size: 16.0px;
}

#emptyProjectView{
	-fx-padding: 40.0px;
	-fx-spacing: 40.0px;
}

#emptyProjectView .v-box{
	-fx-min-height: 300.0px;
}

#emptyProjectView .label{
	-fx-text-fill: #D8D8D8;
	-fx-padding: 20.0px 0.0px 0.0px 0.0px;
}

#emptyProjectView #micImage{
	-fx-shape: "M634,223.508447 C634,227.642558 637.358897,231 641.5,231 C645.643792,231 649,227.645779 649,223.508447 L649,199.491553 C649,195.357442 645.641103,192 641.5,192 C637.356208,192 634,195.354221 634,199.491553 L634,223.508447 L634,223.508447 Z M639.824671,245.5 C634.893329,245.116889 630.068915,243.039478 626.297204,239.267767 L629.832738,235.732233 C636.276389,242.175884 646.723611,242.175884 653.167262,235.732233 L656.702796,239.267767 C652.931085,243.039478 648.106671,245.116889 643.175329,245.5 L644,245.5 L644,265 L639,265 L639,245.5 L639.824671,245.5 L639.824671,245.5 Z M641.5,187 C648.403559,187 654,192.59705 654,199.491553 L654,223.508447 C654,230.407341 648.405077,236 641.5,236 C634.596441,236 629,230.40295 629,223.508447 L629,199.491553 C629,192.592659 634.594923,187 641.5,187 L641.5,187 Z";
	-fx-background-size: 25.0px 50.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-pref-width: 35.0px;
	-fx-min-width: 35.0px;
	-fx-max-width: 35.0px;
	-fx-pref-height: 90.0px;
	-fx-min-height: 90.0px;
	-fx-max-height: 90.0px;
	-fx-background-color: #D8D8D8;
}

#emptyProjectView #dragImage{
	-fx-shape: "M340.935294,207 L325,207 L330,202 L330,265 L325,260 L388,260 L383,265 L383,202 L388,207 L371.323529,207 L371.323529,202 L388,202 L388,265 L325,265 L325,202 L340.935294,202 L340.935294,207 Z M360,239.191413 L372.638755,226.552658 L376.174288,230.088192 L359.088192,247.174288 L357.320425,248.942055 L355.552658,247.174288 L338.232233,229.853864 L341.767767,226.31833 L355,239.550563 L355,192 L360,192 L360,239.191413 Z";
	-fx-background-size: 30.0px 50.0px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-pref-width: 70.0px;
	-fx-min-width: 70.0px;
	-fx-max-width: 70.0px;
	-fx-pref-height: 90.0px;
	-fx-min-height: 90.0px;
	-fx-max-height: 90.0px;
	-fx-background-insets: 5.0px 0.0px;
	-fx-background-color: #D8D8D8;
}

.dimmed{
	-fx-opacity: 0.3;
}

.dimmed:hover{
	-fx-opacity: 1;
}

.button{
	-fx-border-radius: 10.0px;
}

.row{
	-fx-padding: 5.0px 0.0px;
}

.play-bar,
.loop-row,
.solo-mute-delete{
	-fx-spacing: 10.0px;
}

.play-bar .button:pressed{
	-fx-background-color:  #cce6ff;
	-fx-effect: dropshadow(three-pass-box, #cce6ff, 10.0, 0.0, 0.0, 0.0);
}

#removeButton{
	-fx-shape: "M26.3076767,7.93496395 C27.0920566,7.15058412 27.0927559,5.87955245 26.3151841,5.10198071 L24.8980193,3.68481586 C24.1177857,2.90458225 22.8475062,2.90985315 22.065036,3.69232326 L15.7088557,10.0485036 C15.3173655,10.4399938 14.6777283,10.4350877 14.2911443,10.0485036 L7.93496395,3.69232326 C7.15058412,2.90794343 5.87955245,2.90724412 5.10198071,3.68481586 L3.68481586,5.10198071 C2.90458225,5.88221432 2.90985315,7.15249384 3.69232326,7.93496395 L10.0485036,14.2911443 C10.4399938,14.6826345 10.4350877,15.3222717 10.0485036,15.7088557 L3.69232326,22.065036 C2.90794343,22.8494159 2.90724412,24.1204476 3.68481586,24.8980193 L5.10198071,26.3151841 C5.88221432,27.0954178 7.15249384,27.0901468 7.93496395,26.3076767 L14.2911443,19.9514964 C14.6826345,19.5600062 15.3222717,19.5649123 15.7088557,19.9514964 L22.065036,26.3076767 C22.8494159,27.0920566 24.1204476,27.0927559 24.8980193,26.3151841 L26.3151841,24.8980193 C27.0954178,24.1177857 27.0901468,22.8475062 26.3076767,22.065036 L19.9514964,15.7088557 C19.5600062,15.3173655 19.5649123,14.6777283 19.9514964,14.2911443 L26.3076767,7.93496395 Z";
	-fx-background-size: 20.0px 20.0px;
	-fx-background-repeat: no-repeat;
	-fx-pref-width: 25.0px;
	-fx-min-width: 25.0px;
	-fx-max-width: 25.0px;
	-fx-pref-height: 25.0px;
	-fx-min-height: 25.0px;
	-fx-max-height: 25.0px;
	-fx-background-insets: 5.0px;
	-fx-background-color: #FF837D;
}

#removeButton:pressed{
	-fx-effect: dropshadow(three-pass-box, #FF837D, 10.0, 0.0, 0.0, 0.0);
}

.project-buttons{
	-fx-spacing: 10.0px;
}

.prepend{
	-fx-pref-width: 160.0px;
	-fx-max-width: 160.0px;
	-fx-min-width: 160.0px;
}

.project-buttons .button,
#addLoopButton,
#newProjectButton{
	-fx-background-color: #D8D8D8;
	-fx-text-fill: #222;
	-fx-min-height: 30.0px;
	-fx-max-height: 30.0px;
	-fx-font-size: 14.0px;
}

.row .text-field{
	-fx-text-fill: #D8D8D8;
	-fx-border: none;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
}

.solo-mute-delete{
	-fx-padding: 0.0px 0.0px 0.0px 20.0px; 
}

.solo-mute-delete .label{
	-fx-text-fill: #D8D8D8; 
}

#record{
	-fx-background-color: #896260;
	-fx-background-radius: 20.0px;
	-fx-pref-width: 20.0px;
	-fx-pref-height: 20.0px;
	-fx-min-width: 20.0px;
	-fx-max-width: 20.0px;
	-fx-min-height: 20.0px;
	-fx-max-height: 20.0px;
}

#recordButton{
	-fx-background-color: #FF837D;
	-fx-background-radius: 20.0px;
	-fx-background-size: 25.0px 25.0px;
	-fx-pref-width: 50.0px;
	-fx-pref-height: 20.0px;
	-fx-min-width: 50.0px;
	-fx-max-width: 50.0px;
	-fx-min-height: 20.0px;
	-fx-max-height: 20.0px;
	-fx-background-insets: 0.0px 15.0px;
}

#recordButton:pressed{
	-fx-effect: dropshadow(three-pass-box, #FF837D, 10.0, 0.0, 0.0, 0.0);
}

#chooseFileButton{
	-fx-background-color: transparent;
	-fx-background-image: url(../images/open.png);
	-fx-background-size: 25.0px 25.0px;
	-fx-background-repeat: no-repeat;
	-fx-pref-width: 25.0px;
	-fx-pref-height: 25.0px;
	-fx-min-width: 25.0px;
	-fx-max-width: 25.0px;
	-fx-min-height: 25.0px;
	-fx-max-height: 25.0px;
}

.rect-button{
	-fx-border: none;
	-fx-pref-width: 25.0px;
	-fx-pref-height: 25.0px;
	-fx-min-width: 25.0px;
	-fx-max-width: 25.0px;
	-fx-min-height: 25.0px;
	-fx-max-height: 25.0px;
	-fx-text-fill: #4A4A4A;
	-fx-font-size: 12.0px;
	-fx-background-color: #909092;
}

.rect-on{
	-fx-background-color: #D7FBA7;
	-fx-effect: dropshadow(three-pass-box, #D7FBA7, 10.0, 0.0, 0.0, 0.0);
	-fx-text-fill: #889775;	
}

.play-position-button{
	-fx-background-color:  #cce6ff;
	-fx-effect: dropshadow(three-pass-box, #cce6ff, 10.0, 0.0, 0.0, 0.0);
}

.space{
	-fx-min-width: 45.0px;
	-fx-max-width: 45.0px;
	-fx-pref-width: 45.0px;
	-fx-background-insets: 0.0px 20.0px 0.0px 0.0px;
}

.pb-spacer{
	-fx-min-width: 105.0px;
	-fx-max-width: 105.0px;
	-fx-pref-width: 105.0px;
}

#playButton{
	-fx-background-color: #D8D8D8;
	-fx-shape: "M5,5 C5,2.24 6.9,1.19 9.24,2.645 L24.765,12.35 C27.1,13.8 27.1,16.19 24.765,17.647 L9.24,27.35 C6.9,28.81 5,27.77 5,25 L5,5 Z";
	-fx-background-size: 25.0px 25.0px;
	-fx-background-repeat: no-repeat;
	-fx-pref-width: 50.0px;
	-fx-min-width: 50.0px;
	-fx-max-width: 50.0px;
	-fx-pref-height: 25.0px;
	-fx-min-height: 25.0px;
	-fx-max-height: 25.0px;
	-fx-background-insets: 0.0px 15.0px;
}

.play-on{
	-fx-effect: dropshadow(three-pass-box, #cce6ff, 10.0, 0.0, 0.0, 0.0);
}

.solo-on{
	-fx-background-color: #F6E49C;
	-fx-effect: dropshadow(three-pass-box, #F6E49C, 10.0, 0.0, 0.0, 0.0);
	-fx-text-fill: #B7A974;
}

.mute-on{
	-fx-background-color: #FF977D;
	-fx-effect: dropshadow(three-pass-box, #FF977D, 10.0, 0.0, 0.0, 0.0);
	-fx-text-fill: #BE705D;
}

#volumeSlider{
	-fx-pref-width: 20.0px;
}

#volumeSlider .track{
	-fx-background-color: #909092;
}

#volumeSlider .thumb{
	-fx-background-color: #909092;
}

.circular_slider {
    -fx-max-height: 25.0px;
    -fx-min-width: 30.0px;
}
.circular_slider .knob {
    -fx-background-image: url("../images/knob.png");
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-border-radius: 50.0%;
    -fx-rotate: 90.0;
    -fx-pref-width: 25.0px;
    -fx-pref-height: 25.0px;
    -fx-max-height: 25.0px;
}

/* Intro */

.intro{
	-fx-max-width: 320.0px;
}

.intro *{
	-fx-text-fill: #D8D8D8;
	
}

.intro > .label,
.intro .h-box{
	-fx-padding: 25.0px 0.0px;
}

.logo{
	-fx-alignment: center-right;
}

.logo .label{
	-fx-font-size: 64.0px;
	-fx-text-fill: #D7FBA7;
	-fx-effect: dropshadow(three-pass-box, #D7FBA7, 10.0, 0.0, 0.0, 0.0);
	-fx-padding: -20.0px 0.0 0.0 0.0;  
}

.logo .red{
	-fx-text-fill: #FF837D;
	-fx-effect: dropshadow(three-pass-box, #FF837D, 10.0, 0.0, 0.0, 0.0);		
}

.combo-box{
	-fx-background-color: transparent;
	-fx-border-width: 0.0px 0.0px 4.0px 0.0px;
	-fx-border-color: #fff;
	-fx-padding: 0.0px 10.0px;
	-fx-border-insets: 0.0px 10.0px;
	-fx-pref-width: 120.0px;
	
}

.combo-box .list-view {
    -fx-background-color: #4A4A4A;
    -fx-text-fill: #fff;
    -fx-padding: -4.0px 5.0px 5.0px 5.0px;
    -fx-background-insets: 0.0px 10.0px; 
}

.combo-box .list-view .list-cell {
   -fx-padding: 5.0px;
   -fx-background-color: white;
}

.combo-box .list-view .list-cell:filled:hover,
.combo-box .list-view .list-cell:filled:selected{
	-fx-background-color: #333;
}

.combo-box .arrow{
	-fx-background-color: #fff;
}

.slider .track{
	-fx-background-color: #fff;
	-fx-border: none;
}

.slider .thumb{
	-fx-background-color: #fff;
	-fx-border-color: #222;
	-fx-border-width: 4.0px;
	-fx-border-radius: 100.0%;
	-fx-background-radius: 100.0%;
	-fx-background-insets: 2.0px;
}

#tempoValue{
	-fx-pref-width: 30.0px;
}

.tempo-input{
	-fx-padding: 0.0px 0.0px 40.0px 0.0px;
}

#submitButton{
	-fx-pref-width: 350.0px;
	-fx-background-color: #D7FBA7;
	-fx-effect: dropshadow(three-pass-box, #D7FBA7, 10.0, 0.0, 0.0, 0.0);
	-fx-text-fill: #889775;
}

.drag_entered_row{
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.25);	
}